.sidebar {
  position: fixed;
  width: 216px;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: #1a1a1a;
}
.textad {
  position: absolute;
  width: 152px;
  height: 52px;
  left: 32px;
  top: 182px;
}
.elipse {
  position: relative;
  width: 96px;
  height: 96px;
  left: 60px;
  top: 60px;
  background: #c4c4c4;
  border-radius: 50%;
}
.nume {
  position: fixed;
  width: 152px;
  height: 32px;
  left: 32px;
  top: 182px;
  font-family: Inter;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.functie {
  position: absolute;
  width: 128px;
  height: 14px;
  left: 44px;
  top: 220px;
  padding-top: 5px;
  font-family: Inter;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8e9296;
}
/* Buttons design */
/* @media only screen and (max-width: 1400px) {
  .btncoaches {
    padding: 20px 40px;
    font-size: 16px;
    cursor: pointer;
    background: #1a1a1a;
    border-radius: 12px;
    background-image: url("imgs/Coachesgri.png"); /* The image used */
/* background-repeat: no-repeat;
    background-position: 20px;
  }
} */

a.menuLink button {
  width: 80%;
  margin-bottom: 24px;
  padding: 20px 50px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  cursor: pointer;
  background: none;
  color: #8e9296;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: 20px;
  transition: 0.3s ease-in;
}
a.menuLink.active button {
  background-color: white;
}
a.menuLink.active button {
  color: #000;
}
a.menuLink button:hover {
  background-color: white;
  color: #000;
}
a.menuLink .btncoaches {
  background-image: url("imgs/Coachesgri.png");
}
a.menuLink button.btncoaches:hover,
a.menuLink.active .btncoaches {
  background-image: url("imgs/CoachescoachesBlack.png");
}
a.menuLink .btnevents {
  background-image: url("imgs/eventsgri.png");
}
a.menuLink button.btnevents:hover,
a.menuLink.active .btnevents {
  background-image: url("imgs/EventseventsBlack.png");
}
a.menuLink .btnclubs {
  background-image: url("imgs/clubsgri.png"); /* The image used */
}
a.menuLink button.btnclubs:hover,
a.menuLink.active .btnclubs {
  background-image: url("imgs/Clubsclubs.png");
}

a.menuLink .btnath {
  background-image: url("imgs/athgri.png"); /* The image used */
}
a.menuLink button.btnath:hover,
a.menuLink.active .btnath {
  background-image: url("imgs/Athletesathletes.png");
}

.menu {
  display: block;
  text-align: center;
  margin: 253px 0 0 0;
}
@media only screen and (max-width: 1400px) {
  .menu {
    display: block;
    margin: 253px 0 0 0;
  }
}
.btnlog {
  border: none;
  padding: 20px 80px;
  cursor: pointer;
  background: #1a1a1a;
  border-radius: 12px;
  background-image: url("imgs/log-out.png"); /* The image used */
  background-repeat: no-repeat;
  background-position: 20% 20%;
  bottom: 0;
  padding-bottom: 40px;
}
@media only screen and (max-width: 800px) {
  #textlog {
    display: none !important;
  }
}
#textlog {
  position: fixed;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  flex: none;
  order: 1;
  width: 59px;
  height: 24px;
  left: 0px;
  text-align: center;
}
