/*=================================
            TABLE 
=================================*/



.CoachTable #table-coaches{
    margin-top: 120px;

    font-size: 18px;
    line-height: 43px;
    width: 100%;
    border-collapse: collapse;
}

#table-head th{
    padding: 12.5px 20px 11.5px 0;
}

#table-head th:first-child{
    border-top-left-radius: 8px;
    padding: 12.5px 20px 11.5px 32px;
}

#table-head th:last-child{
    border-top-right-radius: 8px;
}

#table-coaches #table-head{
    color: #FFFFFF;
    background-color: #1A1A1A;
}

#table-coaches tr{
    text-align: left;
}

#table-coaches td{
    background-color: #FFFFFF;
    padding: 23px 20px 22px 0;
    border-bottom: 1px #DDE3EC solid;
}

#table-coaches td:first-child{
    background-color: #FFFFFF;
    padding: 23px 0 22px 32px;
    border-bottom: 1px #DDE3EC solid;
}

/* btns ------------------------ */
#table-coaches td .btn-edit{
    /* background-image: url('./img/edit.png'); */
    height: 24px;
    width: 24px;
    border: none;
    background-color: #FFFFFF;
    margin-right: 32px;
    

}

#table-coaches td .btn-delete{
    /* background-image: url('./img/delete.png'); */
    height: 24px;
    width: 24px;
    border: none;
    background-color: #FFFFFF;

}