#delete-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#delete-header {
    display: flex;
    flex-direction: column;

}
#delete-header:not(i) {
    
    font-size:36px;
}
#delete-header .icon {
    align-self: center;
    margin: 0 0 29px 0;

}
#delete-modal .content {
    padding: 0 100px;
    text-align: center;
}
@media only screen and (max-width: 767px)
{
    #delete-header {
        padding: .75rem 1rem!important;
    }
}

#delete-modal button {
    margin: 34px 0 12px 0;
}