/*=================================
            Event page
=================================*/

header p,
header h1{
    display: inline;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
}

header p{
    color: #8E9296;
}

header h1{
    color: #000000;
}

header img{
    height: 16px;
    width: 16px;
    
}

/* date&time style -------------- */
.dateTime{
    padding-bottom: 19px;
    margin-top: 44px;
}

.dateTime p{
    display: inline;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-right: 16px;
    vertical-align: auto;
}

.dateTime p,
.dateTime img{
    padding-top: 46px;
}



/* btn style -------------- */
button {
    float: right;
    background: #1A1A1A;
    border-radius: 8px;
    padding: 16px 73.5px;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #44DABD;
}

/* Event page content -------------- */
.event-content{
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 93px;
}

.event-content p.title-content{
    padding: 48px 44px 10px 32px;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.text-content p{
    padding: 10px 32px 40px 32px;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}


.image-content{
    background-image: url('./img/content-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 374px;
}

/*=================================
            Participants
=================================*/
.Participants{
    display: grid;
    grid-template-columns: .25fr .25fr .25fr .25fr;
    column-gap: 16px;
    row-gap: 16px;
}

@media screen and (max-width: 867px){
    .Participants{
        grid-template-columns: .5fr .5fr;
    }
}

@media screen and (max-width: 440px){
    .Participants{
        grid-template-columns: 1fr;
    }
}



/*=================================
            Participant
=================================*/
.Participant{
    background: #FFFFFF;
    box-shadow: 0px 0.399006px 0.864513px rgba(0, 0, 0, 0.0201946), 0px 1.34018px 2.90372px rgba(0, 0, 0, 0.0298054), 0px 6px 13px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    text-transform: uppercase;
}

.Participant img{
    margin-top: 22px;
    margin-left: 22px;
}

.Participant .p-name{
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    padding: 6px 24px;
    margin: 0;
}

.Participant .p-details{
    margin: 0;
    padding-top: 0;
    padding-left: 24px;
    padding-bottom: 22px;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.06em;
}

.Participant span{
    font-weight: 900;
}
