/*=================================
            HEADER 
=================================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
.Header{
    font-family: 'Inter', sans-serif;
    /* margin: calc(60px - 0.67em) 40px 0; */
    display: grid;
    grid-template-rows: 86px 86px;
}


.Header .title{
    font-size: 36px;
    line-height: 42px;
}

.addNew input[type=text]{
    background-color: #ffffff;
    background-image: url('./img/search.png');
    /* background-position: 11px 6px 11px 14px !important; */
    background-position: 11px;
    background-repeat: no-repeat;

    border-radius: 8px;
    border: 1px solid #8E9296;
    padding-top: 10.5px;
    padding-bottom: 11.5px;
    padding-left: 44px;

    font-size: 14px;
    line-height: 12px;
    width: 371px;

    float: left;
    height: 46px;
}

 .addNew button{
    float: right;
} 
