* {
    font-family: Inter;
}

/* modal title/ header and bottom styles */
.ui.active.modal {
    width:520px;
    height:auto;
    background: #fff;
    border: 1px solid #8E9296;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 4rem 2.8rem 2rem;
}

.ui.modal>.header {
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    background: #fff;
    text-transform: capitalize;
    color: #000000;
    margin: 0;
    padding: 0 0 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: rgba(0,0,0,.85);
    border-bottom: 1px solid #c9d2e1;
}
.ui.modal>.content {
    padding: 3.25rem 0 2.5rem;
}
.ui.modal>.actions {
    border-top:1px solid #c9d2e1;
    padding: 2.3rem 0 0;
}


/* black btn with green writing is class .green */
.ui.button {
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    border-radius: 8px;
}

.ui.green.button {
    background-color: #1A1A1A;
    color: #44DABD;
    padding: 16px 40px;
}

.ui.green.button:hover {
    background-color: #1a1a1a;
    color: #fcfffe;
}

/* grey btn with black writing is class .red */

.ui.red.button {
    background-color: #F5F5F7;
    color: #1A1A1A;
    padding: 16px;
}

.ui.red.button:hover {
    background-color: #F5F5F7;
    color: #41c7ac;
}
/* transparent button with black text */
.ui.blue.button {
    background-color: transparent;
    color: #1A1A1A;
    padding: 5px 0 6px 0;
    border-bottom: 1px solid #c9d2e1;
    border-radius: 0;
    margin: 0 0.5rem 2.2rem 0;
}
.ui.blue.button:hover {
    background-color: transparent;
    color: #1A1A1A;
    cursor:pointer;
}
/* transparent button with GREEN text */
.ui.black.button {
    background-color: transparent;
    color: #41c7ac;
    padding:16px;
    margin-right: auto;
}
.ui.black.button:hover {
    background-color: transparent;
    color: #1A1A1A;
    cursor:pointer;
}
/* modal size style */

.ui.modal>.actions {
    background: #ffffff;
}
@media only screen and (min-width: 768px) {
    .ui.modal {
        width: 50%;
        margin: 0;
    }
}
@media only screen and (max-width: 2500px) {
    .ui.modal>.close {
        top: 1.0535rem;
        right: 1rem;
        color: rgba(0,0,0,.87);
    }
}


/* input styles for add / edit modal */
.form-subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    margin: 1px 0 8px;
}
p.form-subtitle:first-of-type {
    margin-top:0px;
}
.form-inputs label {
    display:block;
    margin-bottom: 0.8vh;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #000000;
}
.form-inputs input, select, textarea {
    width:100%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #8E9296;
    border-radius: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #8E9296;
    padding:13.6px;
}
.form-inputs input[type="file"] {
    border: 1px dashed #8E9296;
    margin-bottom: 7px;
}

/* form invite btn */
.invite-members {
    display: flex;
}
.invite-members p {
    color: #8E9296;
}
.form-btns {
    display:flex;
    justify-content: flex-end;
}
/* form 2 inputs on a row class */
.grid-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;
}

